@import "bootstrap.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

$rouge: #a23e20;

html,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*PAGE ACCUEIL + ADMINISTRATION*/
.card{
  height: 100%;
}

/*************************LES FORMULAIRE DE CONNEXION********************/
#form-admin{
  opacity: 0;
  transition: opacity 0.5s linear;
}

#form-user{
  opacity: 0;
  transition: opacity 0.5s linear;
}

#form-admin.show{
  opacity: 1;
}

#form-user.show{
  opacity: 1;
}